@page
@model PT_RazorPage.Pages.NotificationView.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Notification</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Notification.NotiId" />
            <div class="form-group">
                <label asp-for="Notification.NotiDate" class="control-label"></label>
                <input asp-for="Notification.NotiDate" class="form-control" readonly/>
                <span asp-validation-for="Notification.NotiDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notification.NotiContext" class="control-label"></label>
                <input asp-for="Notification.NotiContext" class="form-control" />
                <span asp-validation-for="Notification.NotiContext" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notification.NotiType" class="control-label"></label>
                <input asp-for="Notification.NotiType" class="form-control" />
                <span asp-validation-for="Notification.NotiType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notification.CusId" class="control-label"></label>
                <select asp-for="Notification.CusId" class="form-control" asp-items="ViewBag.CusId"></select>
                <span asp-validation-for="Notification.CusId" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="Notification.PtId" class="control-label"></label>
                <input asp-for="Notification.PtId" class="form-control" readonly /> <!-- Display PtId directly -->
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
